<div class="container">
  <app-navbar></app-navbar>
  <div class="p-5"></div>
  <h2 class="text-center lead text-primary" style="font-size:2em;">Your one stop shop for everything SMU...</h2>
  <div class="p-4"></div>


  <div class="text-center p-2">
    <div class="row" *ngIf='!this.mobile'>
      <div *ngFor="let name of this.names; let i = index">
        <app-tile
          class="p-2"
          name="{{ this.names[i] }}"
          link="{{ this.links[i] }}"
        ></app-tile>
        <div class="p-1"></div>
      </div>
    </div>

    <div class="" *ngIf="this.mobile">
        <div *ngFor="let name of this.names; let i = index">
          <app-tile
            class="p-2"
            name="{{ this.names[i] }}"
            link="{{ this.links[i] }}"
          ></app-tile>
          <div class="p-1"></div>
        </div>
      </div>

  </div>

{{this.mobile}}
</div>
